<div class="background">
  <svg class="donut" width="100%" height="100%" viewBox="0 0 300 300" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xml:space="preserve"
       style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M149.962,0c82.766,0 149.961,67.196 149.961,149.962c0,82.766 -67.195,149.961 -149.961,149.961c-82.766,0 -149.962,-67.195 -149.962,-149.961c0,-82.766 67.196,-149.962 149.962,-149.962Zm0,74.981c41.383,0 74.98,33.598 74.98,74.981c0,41.383 -33.597,74.98 -74.98,74.98c-41.383,0 -74.981,-33.597 -74.981,-74.98c0,-41.383 33.598,-74.981 74.981,-74.981Z" style="fill:#7fc6f7;"/></svg>
  <svg class="dot" width="100%" height="100%" viewBox="0 0 87 87" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xml:space="preserve"
       style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><circle cx="43.581" cy="43.581" r="43.581" style="fill:#0480d6;"/></svg>
</div>

<div class="row">
  <h2 class="section-title">Portfolio</h2>
</div>

<div class="row row--flex flex-flow--column">
  <div class="scrollbar">
    <div class="cards-container">
      <a *ngFor="let item of portfolioItems" href="{{ item.link.length == 0 ? '': item.link }}" target="_blank">
        
        <div class="card">
          <div class="card-image flex flex-justification">
            <img src="{{ item.img }}" alt="Foto von {{ item.title }}">
          </div>
          <div class="card-content">
            <h3 class="card-title">{{ item.title }}</h3>
            <p>{{ item.content }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

