$main-text-color: #313538;
$bright-text-color: #898e91;
$btn-color: #0091F5;
$btn-color-hover: #0073d4;
$color-complementary: #F71B19;
$color-complementary-darker: #e01111;
$section-underline-color: #7FC6F7;

// Darkmode colors
$dark-text-color: #eeeeee;
$dark-background-color: #121212;
$dark-btn-color: #0078CB;
$dark-btn-color-hover: #0094FB;
$dark-accent-color-bright: #363636;
$dark-accent-color-darker: #202020;
$dark-image-dots-color: #636363
