<div class="background">
  <svg class="dot" width="100%" height="100%" viewBox="0 0 87 87" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xml:space="preserve"
       style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><circle cx="43.581" cy="43.581" r="43.581" /></svg>
</div>

<div class="row">
  <h2 class="section-title">About</h2>
</div>

<div class="row row--flex flex-center row--box">
  <div class="col first-child span-1-of-2 box">
    <p class="about-text">
      I’m John-Louis Jacobs. I ‘m {{ age }} years old and currently living near Magdeburg, Germany. I started building
      websites and apps {{ yearsProgramming }} years ago. Since then I created many small, but also <span
      class="link"><a routerLink="/portfolio">
      big projects.</a></span><br><br>
      I love helping businesses create an online presence and start growing bigger. I can’t wait to hear from clients
      which achievements they accomplished through having an online presence.<br><br>
      <i>In a young, energetic way I create and build websites, apps and more.</i><br><br>
      If you want me to help you create your online presence or just want to talk a bit <span class="link"><a
      href="mailto:kontakt@johnlouisjacobs.de">hit me up!</a></span>
    </p>
  </div>
  
  <div class="col span-1-of-2 box">
    <div class="image" [class.image-animate]="hasLoaded()" [ngStyle]="{'opacity': imageLoaded ? '1' : '0'}">
      <img (load)="imageLoaded = true" src="assets/img/another_personal.jpg" alt="Another Picture of John">
      <svg class="dots" width="100%" height="100%" viewBox="0 0 150 111" version="1.1"
           xmlns="http://www.w3.org/2000/svg"
           xml:space="preserve"
           style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><g><circle cx="5.791" cy="5.791" r="5.791"/><circle
        cx="5.791" cy="19.833" r="5.791" /><circle cx="5.791" cy="33.875" r="5.791"
      /><circle cx="5.791"
                                                                                                         cy="47.917"
                                                                                                         r="5.791"
      /><circle
        cx="21.286" cy="5.791" r="5.791" /><circle cx="21.286" cy="19.833" r="5.791"
      /><circle cx="21.286"
                                                                                                         cy="33.875"
                                                                                                         r="5.791"
      /><circle
        cx="21.286" cy="47.917" r="5.791" /><circle cx="36.781" cy="5.791" r="5.791"
      /><circle cx="36.781"
                                                                                                          cy="19.833"
                                                                                                          r="5.791"
      /><circle
        cx="36.781" cy="33.875" r="5.791" /><circle cx="36.781" cy="47.917" r="5.791"
      /><circle cx="52.276"
                                                                                                          cy="5.791"
                                                                                                          r="5.791"
      /><circle
        cx="67.502" cy="5.791" r="5.791" /><circle cx="52.276" cy="19.833" r="5.791"
      /><circle cx="67.502"
                                                                                                         cy="19.833"
                                                                                                         r="5.791"
      /><circle
        cx="52.276" cy="33.875" r="5.791" /><circle cx="67.502" cy="33.875" r="5.791"
      /><circle cx="52.276"
                                                                                                          cy="47.917"
                                                                                                          r="5.791"
      /><circle
        cx="67.502" cy="47.917" r="5.791" /></g><g><circle cx="5.791" cy="63.024" r="5.791"/>
        <circle cx="5.791" cy="77.066" r="5.791" />
        <circle cx="5.791" cy="91.108" r="5.791" />
        <circle cx="5.791" cy="105.15" r="5.791" />
        <circle cx="21.286" cy="63.024" r="5.791" />
        <circle cx="21.286" cy="77.066" r="5.791" />
        <circle cx="21.286" cy="91.108" r="5.791" />
        <circle cx="21.286" cy="105.15" r="5.791" />
        <circle cx="36.781" cy="63.024" r="5.791" />
        <circle cx="36.781" cy="77.066" r="5.791" />
        <circle cx="36.781" cy="91.108" r="5.791" />
        <circle cx="36.781" cy="105.15" r="5.791" />
        <circle cx="52.276" cy="63.024" r="5.791" />
        <circle cx="67.502" cy="63.024" r="5.791" />
        <circle cx="52.276" cy="77.066" r="5.791" />
        <circle cx="67.502" cy="77.066" r="5.791" />
        <circle cx="52.276" cy="91.108" r="5.791" />
        <circle cx="67.502" cy="91.108" r="5.791" />
        <circle cx="52.276" cy="105.15" r="5.791" />
        <circle cx="67.502" cy="105.15" r="5.791" /></g><g><circle cx="82.206" cy="63.024" r="5.791"/>
        <circle cx="82.206" cy="77.066" r="5.791" />
        <circle cx="82.206" cy="91.108" r="5.791" />
        <circle cx="82.206" cy="105.15" r="5.791" />
        <circle cx="97.701" cy="63.024" r="5.791" />
        <circle cx="97.701" cy="77.066" r="5.791" />
        <circle cx="97.701" cy="91.108" r="5.791" />
        <circle cx="97.701" cy="105.15" r="5.791" />
        <circle cx="113.196" cy="63.024" r="5.791" />
        <circle cx="113.196" cy="77.066" r="5.791" />
        <circle cx="113.196" cy="91.108" r="5.791" />
        <circle cx="113.196" cy="105.15" r="5.791" />
        <circle cx="128.691" cy="63.024" r="5.791" />
        <circle cx="143.917" cy="63.024" r="5.791" />
        <circle cx="128.691" cy="77.066" r="5.791" />
        <circle cx="143.917" cy="77.066" r="5.791" />
        <circle cx="128.691" cy="91.108" r="5.791" />
        <circle cx="143.917" cy="91.108" r="5.791" />
        <circle cx="128.691" cy="105.15" r="5.791" />
        <circle cx="143.917" cy="105.15" r="5.791" /></g><g><circle cx="82.206" cy="5.791" r="5.791"/>
        <circle cx="82.206" cy="19.833" r="5.791" />
        <circle cx="82.206" cy="33.875" r="5.791" />
        <circle cx="82.206" cy="47.917" r="5.791" />
        <circle cx="97.701" cy="5.791" r="5.791" />
        <circle cx="97.701" cy="19.833" r="5.791" />
        <circle cx="97.701" cy="33.875" r="5.791" />
        <circle cx="97.701" cy="47.917" r="5.791" />
        <circle cx="113.196" cy="5.791" r="5.791" />
        <circle cx="113.196" cy="19.833" r="5.791" />
        <circle cx="113.196" cy="33.875" r="5.791" />
        <circle cx="113.196" cy="47.917" r="5.791" />
        <circle cx="128.691" cy="5.791" r="5.791" />
        <circle cx="143.917" cy="5.791" r="5.791" />
        <circle cx="128.691" cy="19.833" r="5.791" />
        <circle cx="143.917" cy="19.833" r="5.791" />
        <circle cx="128.691" cy="33.875" r="5.791" />
        <circle cx="143.917" cy="33.875" r="5.791" />
        <circle cx="128.691" cy="47.917" r="5.791" />
        <circle cx="143.917" cy="47.917" r="5.791" /></g></g></svg>
    </div>
  </div>
</div>
